@import "helpers/helpers";

.input{
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  line-height: 4rem;
  background-color: white;
  @include input_placeholder(1rem, rgb(201, 201, 201), 100);
}
